*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Container{
  background-color: aqua;
  border-radius: 12px;
  position: relative;
  top: 100px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.card{
    display: flex;
    flex-direction: column;
}
.Head{
font-size: 50px;
}
#email{
    display: flex;
    flex-direction: column;
}
#password{
    display: flex;
    flex-direction: column;
}
.input{
    /* padding: 5px 3px; */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.Btn{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
Btn:hover{
    background-color: #45a049;
}
.links{
    display: flex;
    flex-direction: column;
}

/* Add media queries for responsive design */
@media screen and (max-width: 600px) {
    form {
      width: 90%;
    }
  }
  
  
  
  
  